<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187718807276-62ko2au80o11kvmq9esghlrle1gj4tv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187718807276-62ko2au80o11kvmq9esghlrle1gj4tv1</string>
	<key>API_KEY</key>
	<string>AIzaSyAt2yqWI3_2VQzzMh_wD2G-cpm0AF6bYdo</string>
	<key>GCM_SENDER_ID</key>
	<string>187718807276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-d9606</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-d9606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187718807276:ios:20fefb203f5673e6b4bfc9</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-d9606-default-rtdb.firebaseio.com</string>
</dict>
</plist>